.weather-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 0px auto;
    max-width: 400px;
    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    color: #333;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 25%;
}

.weather-location {
    margin: 0 0 10px 0;
    font-size: 1.5em;
    font-weight: bold;
}

.weather-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}

.weather-condition {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.weather-stats {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
    gap: 5px;
}

.weather-item ion-icon {
    font-size: 1.5em;
    color: #fff;
}

